body {
  font: 14px "Century Gothic", Futura, sans-serif;
    background-color: #999;
    margin-left: 30%;
    margin-top: 10%;
}

ol, ul {
  padding-left: 30px;
}
.App-header{
    justify-content: center;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgb(207, 203, 203);
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  height: 170px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 170px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
#title{
    justify-content: center;
}